
$base-font-family: 'Raleway', sans-serif;
$base-font-size    : 16px;
$base-line-height  : 26px;
$base-spacing-unit : $base-line-height;
$line-height-ratio : $base-line-height / $base-font-size;
$base-color: #333;

$brand-color: #536dfe;
$color-green: #00bfa5;

/*------------------------------------*\
    $GRID SETTINGS
\*------------------------------------*/

$grid-columns : 12;
$grid-spacing : 30px;
$site-width   : 100%;
$desktop-width: 960px;
$max-width: $site-width;

/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/

/* 0 - 480 (mobile), 480+ (medium), 600+ (tablet), 960+ (desktop), 1300+ (wide) */
$screen: 'only screen';

$breakpoints: (
    mobile '#{$screen} and (max-width: 480px)',
    mobileUp '#{$screen} and (min-width: 481px)',
    mediumOnly '#{$screen} and (min-width: 480px) and (max-width: 600px)',
    medium '#{$screen} and (min-width: 601px)',
    phablet '#{$screen} and (max-width: 768px)',
    tablet '#{$screen} and (min-width: 768px)',
    tabletonly '#{$screen} and (min-width: 600px) and (max-width: #{$desktop-width})',
    desktop '#{$screen} and (min-width: #{$desktop-width})',
    wide '#{$screen} and (min-width: 1100px)'
);